.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log

.classpath
.project
.settings/
target/
out/
output/

.idea/
*.iml
logging.path_IS_UNDEFINED/
nohup.out
